// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-comment-page {
  display: block;
  background-image: url("royaldinette1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100vw;
  height: 100vh;
}

.edit-comment-container {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -250px;
  padding: 30px;
  padding-top: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgrey;
}
