// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.author-profile {
  margin: 40px 0px 50px 0px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgrey;
  min-height: 200px;
}

.author-img {
  float: left;
  border-radius: 10px;
}

.blurb {
  padding-left: 180px;
  margin-top: -10px;
  max-width: 500px;
}

.comment-area {
  margin-top: 0;
  margin-bottom: 100px;
}

.comment-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
}

.comment {
  padding-left: 130px;
}

.comment-form {
  margin-bottom: 50px;
}

textarea {
  resize: none;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: thin solid lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea:focus {
  border-color: pink;
  outline: 0;
  box-shadow: inset 0 1px 1px pink, 0 0 8px pink;
}

input[type="text"] {
  border-radius: 5px;
  border: thin solid lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"]:focus { /* You can also use .element.text:focus here */
  border-color: pink;
  outline: 0;
  box-shadow: inset 0 1px 1px pink, 0 0 8px pink;
}

input[type="email"] {
  border-radius: 5px;
  border: thin solid lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="email"]:focus {
  border-color: pink;
  outline: 0;
  box-shadow: inset 0 1px 1px pink, 0 0 8px pink;
}

input[type="password"] {
  border-radius: 5px;
  border: thin solid lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="password"]:focus {
  border-color: pink;
  outline: 0;
  box-shadow: inset 0 1px 1px pink, 0 0 8px pink;
}
